@model test8.Models.Class1
@{
    ViewBag.Title = "CustomerDetails";
}
<table>
    <tr>
        <th>Customer ID</th>
        <th>Company Name</th>

    </tr>

    <tr>
        <td>@Model.CustomerID</td>
        <td>@Model.CompanyName</td>

    </tr>
</table>
<h2>CustomerDetails</h2>

